<div class="container">

    <nav class="navbar-item">The Nav bar</nav>

    <div class="photo-item">

        <h1 class="hero-title">{{englishData.hero_1_title}}</h1>
        <h4 class="by">{{englishData["article-info_1_byline"]}}</h4>

    </div>

    <div class="search-item">

        <div class="city-container">
            <div class="city-info">something</div>
        </div>

        <div class="city-container">
            <div class="city-info">something</div>
        </div>

        <div class="city-container">
            <div class="city-info">something</div>
        </div>

        <div class="city-container">
            <div class="city-info">something</div>
        </div>

        <div class="city-container">
            <div class="city-info">something</div>
        </div>

        <div class="city-container">
            <div class="city-info">something</div>
        </div>

    </div>

    <div class="content-item">

    </div>

    <footer class="footer-item">
        @Copyright 2018
    </footer>

</div>